.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Merriweather', serif;
    //styleName: D / H1;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0px;
  text-align: left;
  color : $primary;
  }
  h2{
    font-family: 'Merriweather', serif;
      
    //styleName: D / H2;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0px;
    text-align: left;
  
  }
  h3{
    font-family: 'Merriweather', serif;
      
    //styleName: D / H3;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0px;
  text-align: left;
  
  }
  h4{
    //styleName: D / H4;
    font-family: 'Merriweather', serif;
      color: $dark;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  
  
  }
  h5{
    font-family: 'Merriweather', serif;
      
    //styleName: D / H5;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  
  }
  h6{
    font-family: 'Merriweather', serif;
      
    //styleName: D / H6;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  
  }
  p{
    font-family: 'Open Sans', sans-serif;
  
   //styleName: D / Paragraph;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  
  }
  .subheadline{
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  
  }
  
  
  
  .testie{
    background: $primary;
  }